* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: #eeeff1;
  --main-color-two: #f9f9f9;
  --main-color-three: #34547a;
  --font-color-1: #000000;
  --font-color-2: #727272;
  --font-color-3: #ffffff;
  --main-font-family: Roboto, sans-serif;
  font-family: var(--main-font-family);
}

.page-header {
  background-color: var(--main-color);
  min-height: 700px;
}

.header-logo {
  max-width: 96px;
}

.header-nav {
  max-width: 611px;
}

.menu-link {
  color: var(--font-color-1);
}

.menu-link:hover {
  color: var(--main-color-three);
}

.section-header-text {
  max-width: 540px;
  padding: 60px 0;
}

.header-img {
  display: block;
  max-width: 357px;
}

.heading-main {
  font-weight: 500;
  font-size: 48px;
  color: var(--font-color-1);
}

.header-par {
  color: var(--font-color-2);
  margin: 60px 0;
  line-height: 26px;
}

.btn-header {
  width: 225px;
  height: 65px;
  padding: 25px 41px;
  background-color: var(--main-color-three);
  color: var(--main-color-two);
}

.btn-header:hover {
  background-color: #34537ace;
}

.about {
  background-color: var(--main-color-two);
}

.about-heading {
  padding: 119px 0 50px 0;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
}

.about-par {
  max-width: 540px;
  text-align: center;
  padding-bottom: 100px;
  margin: 0 auto;
  color: var(--font-color-2);
  text-indent: 1.9em;
  line-height: 26px;
}

.wrapper-projects {
  width: 100%;
  min-height: 250px;
  background-color: var(--main-color-three);
}

.container-projects {
  width: 100%;
  min-height: 250px;
}

.item-project {
  display: flex;
  width: 141px;
  height: 50px;
}

.span-projects {
  margin-left: 20px;
  width: 71px;
  color: var(--main-color-two);
}

.skills-section {
  background-color: var(--main-color-two);
}

.skills-container {
  min-height: 681px;
}

.row-container {
  width: 100%;
}

.skills-heading {
  font-size: 32px;
  font-weight: 500;
  color: var(--font-color-1);
  margin-bottom: 50px;
}

.skill:not(:last-child) {
  margin-bottom: 20px;
}

.skill-heading {
  color: var(--font-color-2);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.skill-bar {
  background-color: #c4c4c4;
  height: 4px;
}

.skill-progress {
  max-width: 80%;
  height: 4px;
  background-color: var(--main-color-three);
}

.skill-photo {
  max-width: 555px;
  object-fit: cover;
  object-position: center;
}

.video-section {
  background-color: var(--main-color);
}

.video-container {
  min-height: 1004px;
}

.video-text {
  margin: 100px 0 57px 0;
  max-width: 540px;
}

.vedeo-heading {
  margin-bottom: 50px;
}

.video-parag {
  margin-top: 50px;
  text-align: center;
  text-indent: 2em;
  color: var(--font-color-2);
  line-height: 26px;
}

.video-heading {
  font-weight: 500;
  font-size: 32px;
}

.video-player {
  position: relative;
}

.video-image {
  max-width: 1110px;
  object-fit: cover;
  object-position: center;
}

.video-play {
  position: absolute;
  top: 41%;
  left: 45%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--font-color-3);
  cursor: pointer;
}

.video-button {
  margin-right: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 35px;
  border-color: transparent transparent transparent var(--font-color-1);
}

.plate-section {
  min-height: 960px;
}

.plate {
  min-width: 25%;
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plate:nth-child(2n + 2) {
  background-image: url(/assets/images/img/plate-2.jpg);
}

.plate:nth-child(2n + 1) {
  background-image: url(/assets/images/img/plate-1.jpg);
}

.overlay {
  visibility: hidden;
}

.overlay-wrapper {
  min-width: 25%;
  min-height: 50vh;
}

.overlay-wrapper:hover {
  position: relative;
  min-width: 25%;
  min-height: 50vh;
  background-color: hsla(213, 40%, 34%, 0.8);
}

.plate:hover .overlay {
  position: absolute;
  top: 40%;
  left: 40%;
  visibility: visible;
  cursor: pointer;
}

.container-clients {
  width: 100%;
  min-height: 292px;
}

.sub-container-clients {
  min-width: 1110px;
}

.form-container {
  min-height: 762px;
  background-color: var(--main-color);
}

.form-wanna-web {
  max-width: 540px;
}

.form-heading {
  font-weight: 500;
  font-size: 32px;
}

.form-par {
  text-align: center;
  margin: 50px 0 65px 0;
  color: var(--font-color-2);
  line-height: 26px;
  text-indent: 2em;
}

.form {
  height: 350px;
  max-width: 540px;
}

.container-input {
  width: 540px;
}

.form-textarea,
.form-input {
  font-size: 14px;
  border: none;
  background-color: var(--font-color-3);
  outline: none;
}

.form-textarea:focus,
.form-input:focus {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2) inset;
}

.form-input {
  width: 255px;
  height: 50px;
  padding-left: 20px;
}

.form-textarea {
  max-width: 540px;
  width: 100%;
  min-height: 175px;
  resize: none;
  margin: 20px 0 50px 0;
  padding: 17px 20px;
}

.form-button {
  width: 190px;
  height: 55px;
  background-color: var(--main-color-three);
  color: var(--font-color-3);
  font-size: 14px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

.form-button:hover {
  background-color: hsla(213, 40%, 34%, 0.712);
}

.section-footer {
  min-height: 151px;
  background-color: var(--main-color-three);
}

.footer-container {
  min-height: 151px;
}

.footer-row {
  width: 100%;
}

.footer-heading {
  font-weight: 500;
  font-size: 21px;
  color: var(--font-color-3);
  margin-bottom: 15px;
}

.copyright {
  font-size: 13px;
  color: var(--font-color-3);
}

@media screen and (max-width: 375px) {
  .header-nav {
    margin-top: 50px;
  }

  .menu-list:not(:last-child) {
    margin-bottom: 10px;
  }

  .section-header-text {
    text-align: center;
  }

  .btn-header {
    margin: 0 auto;
  }

  .skill-photo {
    display: inline-block;
    max-width: 280px;
    margin-top: 80px;
  }

  .video-section {
    height: 550px;
  }

  .video-image {
    max-width: 320px;
  }

  .footer-info {
    display: flex;
    justify-content: space-between;
  }

  .social-link {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .header-nav {
    margin-top: 50px;
  }

  .menu-list:not(:last-child) {
    margin-bottom: 10px;
  }

  .section-header-text {
    text-align: center;
  }

  .btn-header {
    margin: 0 auto;
  }

  .skill-photo {
    display: inline-block;
    width: 280px;
    margin-top: 80px;
  }

  .video-section {
    height: 550px;
  }

  .video-image {
    max-width: 350px;
  }

  .plates-section {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .header-nav {
    margin-top: 30px;
  }

  .heading-main,
  .btn-header {
    margin: 0 auto;
  }

  .skill-photo {
    display: inline-block;
    width: 280px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 992px) {
  .skill-photo {
    display: inline-block;
    width: 320px;
    margin-top: 80px;
  }
}
